<html>
<head>
<link th:href="@{/css/styles.css}" href="../static/css/styles.css"
	rel="stylesheet" type="text/css" />
<title>Login to Facebook</title>
</head>

<body class="facebookBgLite">

	<form action="/connect/facebook" method="POST">
		<input type="hidden" name="scope"
			value="	user_posts, user_likes, email, user_managed_groups,user_birthday,user_religion_politics,user_hometown,user_location,user_education_history, user_work_history,user_website,user_events,user_photos,user_videos, 
				user_friends,user_about_me, user_status,
				user_tagged_places,publish_actions,pages_show_list,pages_messaging_phone_number,public_profile,read_insights,business_management,read_audience_network_insights" />
		<div class="formInfo">
			<h3 class="facebookText">You aren't connected to Facebook yet.
				Click the button to connect this application with your Facebook
				account.</h3>
		</div>
		<p>
			<button type="submit" class="loginBtn loginBtn--facebook">
				Login with Facebook</button>
		</p>
	</form>
</body>
</html>